# Credenciales
config/.env
.env
.env.local

# Logs
logs/
*.log

# Python cache
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
